attrs==19.1.0
brother-ql==0.9.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
docutils==0.14
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
Kivy==1.10.1
Kivy-Garden==0.1.4
packbits==0.6
Pillow==6.1.0
Pygments==2.3.1
pyserial==3.4
pyusb==1.0.2
requests==2.21.0
smmap2==2.0.5
urllib3==1.24.3
Flask==1.1.1